// Geral
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@font-face {
    font-family: 'RequiemFineHTFRoman';
    src: url('../fonts/RequiemFineHTFRoman.eot');
    src: url('../fonts/RequiemFineHTFRoman.eot') format('embedded-opentype'),
         url('../fonts/RequiemFineHTFRoman.woff2') format('woff2'),
         url('../fonts/RequiemFineHTFRoman.woff') format('woff'),
         url('../fonts/RequiemFineHTFRoman.ttf') format('truetype'),
         url('../fonts/RequiemFineHTFRoman.svg#RequiemFineHTFRoman') format('svg');
}
@font-face {
    font-family: 'akzidenz-grotesk_bq_lightRg';
    src: url('../fonts/akzidenz-grotesk-bq-light-webfont.woff2') format('woff2'),
         url('../fonts/akzidenz-grotesk-bq-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}



/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}


/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #f6f4f0;
}

.hide-mobile {
  @include mobile {
    display: none !important;
  }
}

.hide-desktop {
  @include desktop {
    display: none !important;
  }
}