$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorBrownLight: #8f7d57;
$colorBrown: #858177;


$fontPrimary: 'akzidenz-grotesk_bq_lightRg';
$fontSecond: 'Open Sans', sans-serif;
$fontThird: 'RequiemFineHTFRoman';

$mobile-width: 768px;
$tablet-width: 992px;
$desktop-width: 1024px;
$notebook-min: 1025px;
$notebook-max: 1500px;